<html lang="en" >
    <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.118.2">
    <title>Search User</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/album/">

    

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" href="stylesheets/searchstyles.css">
    
  </head>
  <body>
    <div class="container-fluid fixed-top">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <img src="./images/img.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            <span class="fs-4">knowPeople</span>
          </a>
            <ul class="nav nav-pills">
            <li class="nav-item"><a href="/home" class="btn btn-outline-dark mx-1" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="/profile" class="btn btn-outline-dark mx-1">Profile</a></li>
            <li class="nav-item"><a href="/search" class="btn btn-outline-dark mx-1 active">Search</a></li>
            <li class="nav-item"><a href="/logout" class="btn btn-outline-dark mx-1">Logout</a></li>
          </ul>
        </header>
      </div>
    <main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Find your match! </h1>
            <p class="lead text-body-secondary">Select your preferences below and our website shows you all the users who have matched your preferences.</p>
        </div>
        </div>
    </section>
    <div class="container">
        <div class="row px-5">
            <div class="col-2 p-1 "> 
                <div class="card-sm icon outdoor text-center"><a><img src="images/hiking.png" class="rounded mx-auto" height="175" width="175" alt="Outdoor Adventure"></a>
                    <p class="">outdoor</p>
                </div>
             </div>
             <div class="col-2 p-1 ">  
                <div class="card-sm icon cooking text-center"><a><img src="images/cooking.png" class="rounded mx-auto" height="175" width="175" alt="Cooking and Culinary Arts"></a>
                    <p>Cooking and Culinary Arts</p>
                </div>
             </div>
             <div class="col-2 p-1  " > 
                <div class="card-sm icon gaming text-center"><a><img src="images/gamepad.png" class="rounded mx-auto" height="175" width="175" alt="Gaming"></a>
                    <p>Gaming</p>
                </div>
             </div>
             <div class="col-2 p-1  "> 
                <div class="card-sm icon art text-center"><a><img src="images/art.png" class="rounded mx-auto" height="175" width="175" alt="Art & Creativity"></a>
                    <p>Art and Creativity</p>
                </div>
             </div>
             <div class="col-2 p-1 "> 
                <div class="card-sm icon travel text-center"><a><img src="images/travel-luggage.png" class="rounded mx-auto" height="175" width="175" alt="Travel"></a>
                    <p>Travel</p>
                </div>
            </div>
            <div class="col-2 p-1 "> 
                <div class="card-sm icon sports text-center"><a><img src="images/dumbbell.png" class="rounded mx-auto" height="175" width="175" alt="Sports and Fitness"></a>
                    <p>Fitness and Sports</p>
                </div>
             </div>
            <div class="col-2 p-1 "> 
                <div class="card-sm icon read text-center"><a><img src="images/book.png" class="rounded mx-auto" height="175" width="175" alt="Reading"></a>
                    <p>Reading</p>
                </div>
             </div>
             <div class="col-2 p-1 "> 
                <div class="card-sm icon music text-center"><a><img src="images/music.png" class="rounded mx-auto" height="175" width="175" alt="Music"></a>
                    <p>Music</p>
                </div>
             </div>
             <div class="col-2 p-1"> 
                <div class="card-sm icon tech text-center"><a><img src="images/innovation.png" class="rounded mx-auto" height="175" width="175" alt="Technology and Gadgets"></a>
                    <p>Technology and Gadgets</p>
                </div>
             </div>
             <div class="col-2 p-1"> 
                <div class="card-sm icon fashion text-center"><a><img src="images/trade-show.png" class="rounded mx-auto" height="175" width="175" alt="Fashion and Style"></a>
                    <p>Fashion and Style</p>
                </div>
             </div>
             <div class="col-2 p-1"> 
                <div class="card-sm icon photo text-center"><a><img src="images/camera.png" class="rounded mx-auto" height="175" width="175" alt="Photography"></a>
                    <p>Photography</p>
                </div>
            </div>
            <div class="col-2 p-1"> 
                <div class="card-sm icon science text-center"><a><img src="images/atom.png" class="rounded mx-auto" height="175" width="175" alt="Science and Astronomy"></a>
                    <p>Science and Astronomy</p>
                </div>
             </div>
        <div>
    </div>
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="userContainer">
            
        </div>
        <div id="pagination" class="pagination pagination-sm"></div>
    </div>

    </main>
    <div class="border-top">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 ">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
            <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
            </a>
            <span class="mb-3 mb-md-0 text-body-secondary">© 2024 KnowPeople Inc</span>
        </div>
        </footer>
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="javascripts/searchBrowser.js"></script>
    </body>
</html>